
.login{
display: flex;
justify-content: center;

}
.form {
  width: 50%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login h1 {
  font-family: "Nothing You Could Do", cursive;
  color: #1c374d;
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}

form textarea {
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}
input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
}
form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin-top: 15px;
  color: grey;
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #1c374d;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
}
