.description-container{
    background-color: #f1f1f1;
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    height: 81vh;
    
}

.image-container{
    overflow: hidden;
    width: 40%;
}

.imagen-desProducts{
    overflow: hidden;
    height: fit-content;
    transition: 1s;
}

.description-container img:hover{
    transform: scale(1.6);
}


.description-container h1{
    font-size: 5rem;    
}

.details{
    padding: 25px;
}

.precio{
    color: #f9bd0b;
}