
.product-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.description {
    width: 100%;
    height: 200px;
    border-top-left-radius: 1 rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.product-cart-image {
  width: 100%;
  object-fit: fill;
  border-radius: 1rem;
  cursor: pointer;
}

 .product-cart-image:hover{
  transition: 0.3s ease-out;
  filter: brightness(70%); 
}

.product-content {
  padding: 1rem;
  text-align: center;
}


 .product-title {
  font-size: 1 rem;
  color: #1c374d;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
}
 .product-price {
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f9bd0b;
}


.addToCartBttn {
  align-self: center;
   background-color: #f9bd0b;
   border:none;
   min-width: 100px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 15px;
 }

 .addToCartBttn:hover {
  background-color: #1c374d;
  color: white;
  cursor: pointer;
}


li{
  width: 360px;
}