.Shop {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ShopTitle {
  font-family: "Nothing You Could Do", cursive;
  color: #1c374d;
  text-align: center;
  font-size: 40px;
}
.products {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


