.adress-data{
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
   }
   
   .adress-data h3{
       display: inline-flex;
       justify-content: center;
       font-size: 3rem;
       font-family: 'Nothing You Could Do', cursive;
       
   
   }
   
   .adress-data p {
       font-size: 1.2rem;
       color: #1c374d;
   }
   
   
   .button-container{
       width: 100%;
       display: inline-flex;
       justify-content: center;
   }