.addProductForm{
width: 60%;
box-shadow: 0px 3px 15px rgb(28, 55, 77);
background-color: rgba(28, 55, 77, 0.187);
border-radius: 10px;
display: flex;
flex-direction: column;
padding: 2%;
margin: 2em auto;
}

.addProductForm label {
    font-size: 0.8rem;
    color: #1c374d;

}


.addProductForm input{
    font: 0.8em sans-serif;
    margin-bottom: 4%;
    color: #1c374d;
}


.addProductForm textarea{
    width: 100%;
    height: 200px;
    background-color: rgba(28, 55, 77, 0);
    
}

.upload-image-button{
    margin-top: 0%;
    margin-bottom: 30px;
}